html,
body {
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #11111f;
  color: #dedede;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: block;
  text-align: center;
}

h1 {
  font-size: 2em;
  margin: 20px 0;
}
